* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: all;
  src: url(../assets/print-clearly/print_clearly_tt.ttf);
}

@font-face {
  font-family: bold;
  src: url(../assets/print-clearly/print_bold_tt.ttf);
}

body {
  font-family: all;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.container {
  background-color: rgb(29, 29, 83);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.end {
  background-color: rgb(163, 39, 39);
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: bold;
  border-radius: 20px;
  padding: 5px;
  font-size: 20px;
}

h3 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  background-image: url(../assets/space.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 700px;
  width: 100%;
}
.rocket {
  height: 40%;
  width: 40%;
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  cursor: pointer;
}
.info {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info :nth-child(1) {
  background-color: rgb(64, 18, 124);
  height: 33%;
  width: 100%;
}

.info :nth-child(2) {
  background-color: rgb(163, 39, 39);
  height: 33%;
  width: 100%;
}

.info :nth-child(3) {
  background-color: rgb(64, 18, 124);
  height: 33%;
  width: 100%;
}

p {
  background-color: rgb(163, 39, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  font-size: xx-large;
  width: 100%;
}
