* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: all;
  src: url(./assets/print-clearly/print_clearly_tt.ttf);
}

body {
  font-family: all;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.page {
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/registerBG.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-blend-mode: multiply;
  background-color: rgb(133, 133, 133);
  display: flex;
  align-items: center;
  justify-content: center;
}

.register {
  padding: 10px;
  height: 95%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 20px;
}

input {
  width: 80%;
  height: 30px;
  border-radius: 10px;
  padding: 5px 10px;
  border: black 2px solid;
  margin: 7px;
}

.submit {
  height: 30px;
  width: 80px;
  background-color: rgb(0, 0, 167);
  color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  font-family: all;
  font-size: 20px;
}

.welcome {
  color: aliceblue;
  font-size: 40px;
}

.date {
  width: 80%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-size: 20px;
}

.types {
  color: aliceblue;
  font-size: 20px;
}

.gender {
  width: 80%;
  display: flex;
  flex-direction: row;
  color: aliceblue;
  font-size: 20px;
}

.maleFemale {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.data {
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.maleFemale > label {
  margin-left: 80px;
}

a {
  height: 30px;
  width: 80px;
  background-color: rgb(0, 0, 167);
  color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  font-family: all;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.merged {
  padding: 20px;
  height: 65%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.158);
  border-radius: 20px;
  color: aliceblue;
  font-size: 70px;
}
